@use "@angular/material" as mat;
@use "../_theme-colors" as my-theme;
@import "tailwindcss";

// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
html {
  @include mat.theme(
    (
      color: (
        primary: my-theme.$primary-palette,
        tertiary: my-theme.$tertiary-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(226, 232, 240);
  @include mat.form-field-density(-4);

}

:root {

  .mat-mdc-text-field-wrapper {
    background-color: rgba(234, 235, 236, 0.336) !important;
  }

  .grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
  }
  .grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  }
  .grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }

  .grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
  .dense-input {
    @include mat.form-field-density(-4);
  }
  .compact-input {
    @include mat.form-field-density(-2);
    .mat-mdc-text-field-wrapper {
      height: 48px !important;
    }
  }

  .mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__notch {
    border-right-width: 0px !important;
  }
  // Override styles for specific Material components
  @include mat.button-overrides(
    (
      protected-container-color: #1d326d,
      protected-label-text-color: white,
      protected-container-shape: 6px,
      outlined-container-shape: 6px,
      filled-container-shape: 6px,
      text-container-shape: 6px,
      protected-hover-state-layer-opacity: 0.08,
      protected-focus-state-layer-opacity: 0.12,
      protected-pressed-state-layer-opacity: 0.16,
    )
  );

  @include mat.table-overrides(
    (
      background-color: none,
      header-headline-color: white,
    )
  );

  @include mat.paginator-overrides(
    (
      container-background-color: white,
    )
  );

  .mat-mdc-header-row {
    background-color: #1d326d !important;
    height: 40px !important;
  }
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.content-container {
  padding: 20px 20px 20px 0px;
}

mat-card {
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
  width: 100%;
  background-color: white !important;
}

mat-card-content {
  padding: 20px;
}

button[mat-button],
button[mat-raised-button] {
  margin-right: 8px;
}

// Examples of theming specific components
.custom-card {
  border-left: 4px solid rgb(66, 94, 113);
}

// Example of a themed section
.themed-section {
  background-color: rgba(66, 94, 113, 0.05);
  border-radius: 4px;
  padding: 16px;
  margin: 16px 0;
}

mat-toolbar {
  background-color: white;
  color: #1d326d;
}

mat-toolbar.secondary-toolbar {
  mat-icon {
    color: white;
  }

  height: 56px;
  background-color: #1d326d;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.secondary-toolbar .left-section {
  display: flex;
  align-items: center;
}

.secondary-toolbar .left-section .hamburger-icon {
  margin-right: 8px;
}

.secondary-toolbar .right-section {
  display: flex;
  align-items: center;
}

mat-drawer-container.drawer-container {
  background-color: rgb(226, 232, 240); /* Universal background color */
}

mat-drawer.custom-drawer {
  background-color: rgb(226, 232, 240); /* Universal background color */
  padding: 0px;
  width: 331px !important;

  .mat-mdc-card {
    margin: 20px 10px 20px 20px !important;
    width: 300px !important;
  }

  .mat-mdc-card-content {
    padding: 0px !important;
  }
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 16px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 6px;
}

.nav-item:last-child {
  border-bottom: none;
}

.nav-item mat-icon {
  margin-right: 16px;
  color: #1d326d;
}

.nav-item span {
  font-size: 16px;
  color: #1d326d;
}
