<h2 mat-dialog-title>{{ data.mode }} Meeting</h2>
<mat-dialog-content>
  <div class="p-4 pb-0">
    <form class="grid grid-cols-3 gap-4 sm:grid-cols-1">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Meeting Title</mat-label>
        <input
          matInput
          [(ngModel)]="data.meetingTitle"
          name="meetingTitle"
          [readonly]="data.mode === 'View'"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Lead Member</mat-label>
        <input
          matInput
          [value]="data.mode === 'Add' ? '' : 'Alice Johnson'"
          name="leadMember"
          [readonly]="data.mode === 'View'"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Lead Engineer</mat-label>
        <input
          matInput
          [value]="data.mode === 'Add' ? '' : 'Alice Evans'"
          name="leadEngineer"
          [readonly]="data.mode === 'View'"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Members</mat-label>
        <input
          matInput
          [(ngModel)]="data.members"
          name="members"
          [readonly]="data.mode === 'View'"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>CAC</mat-label>
        <input
          matInput
          [(ngModel)]="data.cac"
          name="cac"
          [readonly]="data.mode === 'View'"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Meeting Type</mat-label>
        <input
          matInput
          [(ngModel)]="data.subcommittee"
          name="meetingType"
          [readonly]="data.mode === 'View'"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Committee</mat-label>
        <input
          matInput
          [(ngModel)]="data.committee"
          name="committee"
          [readonly]="data.mode === 'View'"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Subcommittee</mat-label>
        <input
          matInput
          [(ngModel)]="data.subcommittee"
          name="subcommittee"
          [readonly]="data.mode === 'View'"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Session</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          [(ngModel)]="data.meetingOnOrAfter"
          name="meetingOnOrAfter"
          [readonly]="data.mode === 'View'"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </form>
  </div>

  <div class="w-full mt-5 kist">
    <div
      class="flex flex-col w-[100%] gap-2 items-center gap-10 justify-center"
    >
      @if(data.mode !== 'View'){
      <div
        class="file-input-dropzone"
        appFileDragdrop
        style="width: 60% !important; min-height: 70px !important"
        (fileChanged)="fileDropped($event)"
      >
        <span class="">Drag Files Here or </span>
        <button class="file-link" (click)="fileInput.click()">
          <mat-icon>attach_file</mat-icon>
          Select Files to Upload
        </button>
        <input
          #fileInput
          hidden
          type="file"
          name="file"
          accept=".pdf"
          multiple
          (change)="onFileSelected($event)"
        />
      </div>
      }
      <div class="w-full flex flex-col justify-center items-center">
        @for (file of files(); track $index) {
        <mat-card appearance="outlined" class="mat-elevation-z8 ">
          <mat-card-content>
            <div class="w-full flex justify-between items-center">
              <span class="ml-3">
                {{ file.name }}
              </span>
              @if(data.mode !== 'View'){<button
                (click)="remove(file)"
                mat-icon-button
              >
                <mat-icon> delete </mat-icon></button
              >}
            </div>
          </mat-card-content>
        </mat-card>
        }
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  @if(data.mode === 'Update' || data.mode === 'Add'){<button
    mat-stroked-button
    [mat-dialog-close]="true"
    color="warn"
  >
    <mat-icon>cancel</mat-icon>
    Cancel
  </button>
  <button mat-raised-button cdkFocusInitial>
    <mat-icon>save</mat-icon>
    Save</button
  >}@else {
  <button mat-raised-button [mat-dialog-close]="true" color="warn">
    <mat-icon> arrow_back </mat-icon>
    Back
  </button>
  }
</mat-dialog-actions>
