<mat-toolbar
  color="primary"
  style="display: flex; justify-content: space-between; align-items: center"
>
  <img
    src="/pr-seal.png"
    alt="PR Seal"
    style="height: 50px; margin-left: 10px"
  />
  <span style="font-size: 20px; font-weight: bold"
    >Web Advisory Committee Tracking System</span
  >
  <img
    src="/main-logo.jpg"
    alt="Main Logo"
    style="height: 50px; margin-right: 10px"
  />
</mat-toolbar>

<mat-toolbar class="secondary-toolbar">
  <div class="left-section">
    <button
      mat-icon-button
      class="hamburger-icon"
      (click)="drawerToggled.set(!drawerToggled())"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span style="font-size: 18px; font-weight: 500">{{ routeName() }}</span>
  </div>
  <div class="right-section">
    <button mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer
    #drawer
    mode="side"
    class="custom-drawer"
    [ngClass]="{
      'drawer-opened': drawerToggled(),
      'drawer-closed': !drawerToggled()
    }"
    opened
  >
    <mat-card style="width: 100%">
      <mat-card-content>
        <div
          class="nav-item"
          matRipple
          routerLink="/dashboard"
          routerLinkActive="active"
        >
          <mat-icon>home</mat-icon>
          <span>Dashboard</span>
        </div>
        <div
          class="nav-item"
          matRipple
          routerLink="/meeting-search"
          routerLinkActive="active"
        >
          <mat-icon>search</mat-icon>
          <span>Meeting Search</span>
        </div>
        <!-- <div
          class="nav-item"
          matRipple
          routerLink="/reports"
          routerLinkActive="active"
        >
          <mat-icon>bar_chart</mat-icon>
          <span>Reports</span>
        </div> -->
        <div
          class="nav-item"
          matRipple
          routerLink="/event-calendar"
          routerLinkActive="active"
        >
          <mat-icon> calendar_today </mat-icon>
          <span>Event Calendar</span>
        </div>
        <div
          class="nav-item"
          matRipple
          routerLink="/help-feedback"
          routerLinkActive="active"
        >
          <mat-icon>help</mat-icon>
          <span>Help & Feedback</span>
        </div>
       
        <mat-expansion-panel class="nav-expansion-panel">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="flex items-start nav-item">
                <mat-icon>security</mat-icon>
                <span>Administration</span>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="flex flex-col ">
            <div
              class="nav-item sub-item"
              matRipple
              routerLink="/profile-management"
              routerLinkActive="active"
            >
              <mat-icon>person</mat-icon>
              <span >Profile Management</span>
            </div>
            <div
              class="nav-item sub-item"
              matRipple
              routerLink="/roles-management"
              routerLinkActive="active"
            >
              <mat-icon>security</mat-icon>
              <span >Roles & Rights Management</span>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-card-content>
    </mat-card>
  </mat-drawer>

  <mat-drawer-content>
    <div
      class="p-5 w-full h-full min-h-screen"
      [ngClass]="{ 'pl-2.5': drawer.opened }"
    >
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
